@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


:root {
    
    --clr-text: #faf9f6;
    --clr-btn: #0c67ae;
    --clr-btn-hover: #43abc9;
    
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
/* font-family: 'lobster', sans-serif; */
}

body{
    background-color: #0c67ae;
    background-image: url(../images/snow_Backgd.jpg);
    text-align: center; 
    background-repeat: no-repeat;
     }

h1{
    color: #fff;
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 10px;
}

.mov{
    font-family: sans-serif;
    font-size: 20px;
} 

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    /* outline: none;
    border: none; */
    border-radius: 5px;
    /* background: #fff; */
    cursor: pointer;
}


.header{
    width: 130px;
    float: right;
    z-index: 3;
    margin-right: 270px;
   
        }
    
    
.btn{
 height: 50px;
 width: 120px;
 margin: 5px;
 border: none;
 outline: none;
 color: #e7f1fa;
 background: var(--clr-btn);
 border: 1px solid #b0c4d8;
 border-radius: 20px 5px;
 z-index: 1;
 font-size: 14px;
 cursor: pointer;
 }

 .btn:hover{
    background: var(--clr-btn-hover);
    }

   .header ul{
    margin:0;
    padding:0;
    list-style: none;
    overflow: hidden;
    /* background-color: lightblue; */
    }
    
    
   /* .header */
    .logo{ 
    align-items: center;
    text-align: center;
    justify-content: center;
    display: block;
    font-size: 2.5em;
    font-family: 'lobster';
    
    }
    
    .header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    
    }
    
    header .menu-icon{  /*the dive that contain the span inside/*/
    padding:  28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    color: #fff;
        }
    
    .header .menu-icon .nav-icon{
    background: #fff;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
    
    }
    
    
    .header .menu-icon .nav-icon:before{
    background: #fff;
    content:"";
    display:block;
    height: 100%;
    width:100%;
    position:absolute;
    transition: All .2s ease-out;
    top: 5px
    }
    
    .header .menu-icon .nav-icon:after{
    background: #fff;
    content:"";
    display:block;
    height: 100%;
    width:100%;
    position:absolute;
    transition: All .2s ease-out;
    top: -5px
    }
    
    .header .menu-btn{
    display:none;
    
    }
    
    .header .menu-btn:checked ~ .menu{
    max-height: 240px;
    }
    
    
    .header .menu-btn:checked ~ .menu-icon .nav-icon{
    background:transparent;
    
    }
    
    .header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
    
    }
    
    
    .header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
    
    }
    
    /*The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 1px; /* Location of the box */
      left: 750px;
      top: 80px;
      width: 450px; 
      height: 250px;  
      font-family: sans-serif;
      border-radius: 5px;
      background: #fff;
      transition: all 0.3s ease;
 
         }
.rule-title{
         
width: 100%;
border-bottom: 1px solid lightgrey; 
display: flex;
align-items: center;
padding: 0 5px;
border-radius: 5px 5px 0 0;
font-size: 20px;
font-weight: 600;     
}

.rule-title span{
font-weight: 600;
color: #007bff;
}

.info{
    margin: 5px 0;
    font-size: 17px;   
}

    
    /* Modal Content */
    .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    top:0;
    width: 100%;
    font-family: sans-serif;
    text-align: left;
    }
    
   
       /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 40px;
      font-weight: bold;
      top: 0;
       }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
#title {
    height: 150px;
    width: 400px;
}


    #board {
        width: 609px;
        height: 377px;
        background-color: lightblue;
        border: 09px solid #0c67ae;
    
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    
#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
}

#pieces {
    width: 950px;
    height: 240px;
    border: 2px solid white;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 118px;
    height: 118px;
    border: 0.5px solid lightblue;
}


/* modal good job */

.blur-it {
    filter: blur(4px);
  }
  .modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(19, 19, 19, 0.51);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  


  .modal {
    width: 400px;
    height: 300px;
    margin: 50% 0 0 -200px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .modal-wrapper.open .modal {
    display: block;
    margin-top: -200px;
    opacity: 1;
  }
  
  .head {
    width: 100%;
    height: 55px;
    padding: 12px 30px;
    overflow: hidden;
    background: #42bc83;
  }
  
  .btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: #fff;
  }
  
  .content {
    padding: 10%;
  }
  
  .good-job {
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #42bc83;

    .fa-thumbs-o-up {
      font-size: 60px;
    }

    h1 {
      font-size: 45px;
    }
  }